# Impotación de los países en la base de datos

### 1. Importar librerías y cargar datos

En esta sección importamos las librerías necesarias (`pandas`, `os`, `dotenv` y `pymysql`), cargamos las variables de entorno desde un archivo `.env` y leemos el CSV con la información de países, subcontinentes y continentes.

In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import pymysql
from pymysql.constants import CLIENT
 
load_dotenv()
DB_HOST     = os.getenv('DB_HOST')
DB_USER     = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_NAME     = os.getenv('DB_NAME')

df_geo = pd.read_csv('./data/Pa_sos.csv')
df_geo.head()

,Codi,Nom,Codi A3,Codi Divisa,Codi Regió UN M49,Continent Codi,Continent Nom,Subcontinent Codi,Subcontinent Nom,Nom en anglès,Nom en castellà
0,AF,Afganistan,AFG,AFN,34,4,Àsia,12,Àsia meridional,Afghanistan,Afganistán
1,AX,Aland,ALA,EUR,154,5,Europa,17,Unió Europea,Aland Islands,Islas Aland
2,AL,Albània,ALB,ALL,39,5,Europa,16,Europa (no UE),Albania,Albania
3,DE,Alemanya,DEU,EUR,155,5,Europa,17,Unió Europea,Germany,Alemania
4,DZ,Algèria,DZA,DZD,15,1,Àfrica,5,Àfrica septentrional,Algeria,Argelia

### 2. Traducción de nombres

Los campos `Continent Nom` y `Subcontinent Nom` están en catalán. Definimos diccionarios de traducción y creamos nuevas columnas en castellano.

In [2]:
continent_map = {
    'Àsia':                             'Asia',
    'Europa':                           'Europa',
    'Àfrica':                           'África',
    'Amèrica':                          'América',
    'Antàrtida i territoris propers':  'Antártida y territorios cercanos',
    'Oceania':                          'Oceanía',
    'No consta':                        'No consta',
    'Altres/Diversos':                  'Otros/Diversos'
}

subcontinent_map = {
    'Àsia meridional':            'Asia Meridional',
    'Unió Europea':               'Unión Europea',
    'Europa (no UE)':             'Europa (no UE)',
    'Àfrica septentrional':       'África del Norte',
    'Àfrica central':             'África Central',
    'Carib':                      'Caribe',
    'Antàrtida i territoris propers': 'Antártida y territorios cercanos',
    'Àsia occidental':            'Asia Occidental',
    'Amèrica del Sud':            'América del Sur',
    'Austràlia i Nova Zelanda':   'Australia y Nueva Zelanda',
    'Amèrica Central':            'América Central',
    'Àfrica occidental':          'África Occidental',
    'Amèrica del Nord':           'América del Norte',
    'Àfrica meridional':          'África Meridional',
    'Àsia sud-oriental':          'Asia Sudoriental',
    'Àfrica oriental':            'África Oriental',
    'Àsia oriental':              'Asia Oriental',
    'Melanèsia':                  'Melanesia',
    'Micronèsia':                 'Micronesia',
    'Polinèsia':                  'Polinesia',
    'Àsia central':               'Asia Central',
    'No consta':                  'No consta',
    'Altres/Diversos':            'Otros/Diversos'
}

# Aplicar la traducción
df_geo['subcontinent_es'] = df_geo['Subcontinent Nom'].map(subcontinent_map)


# Aplicar traducción
df_geo['continent_es']    = df_geo['Continent Nom'].map(continent_map)
df_geo['subcontinent_es'] = df_geo['Subcontinent Nom'].map(subcontinent_map)

# Verificar
df_geo[['Continent Nom','continent_es','Subcontinent Nom','subcontinent_es']].drop_duplicates().head()

  Continent Nom continent_es      Subcontinent Nom   subcontinent_es
0          Àsia         Asia       Àsia meridional   Asia Meridional
1        Europa       Europa          Unió Europea     Unión Europea
2        Europa       Europa        Europa (no UE)    Europa (no UE)
4        Àfrica       África  Àfrica septentrional  África del Norte
6        Àfrica       África        Àfrica central    África Central

### 3. Conexión a la base de datos

Abrimos una conexión a MySQL usando `pymysql`, con la bandera `MULTI_STATEMENTS` para permitir múltiples sentencias.

In [3]:
# 1) Conexión sin especificar 'database'
conn = pymysql.connect(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASSWORD,
    client_flag=CLIENT.MULTI_STATEMENTS
)
cur = conn.cursor()

# 2) Eliminar si existía y crear la base de datos
cur.execute("DROP DATABASE IF EXISTS tfm_cambio_climatico;")
conn.commit()
cur.execute("CREATE DATABASE tfm_cambio_climatico CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
conn.commit()

cur.close()
conn.close()
print("Esquema 'tfm_cambio_climatico' recreado correctamente.")

Esquema 'tfm_cambio_climatico' recreado correctamente.

### 4. Creación de tablas

Definimos y ejecutamos las sentencias SQL para eliminar las tablas si existen y crear las nuevas estructuras:
- **Continentes** (`id`, `nombre`).
- **Subcontinentes** (`id`, `nombre`, `continente_id`).
- **Paises** (`codigo`, `nombre`, `subcontinente_id`).

In [4]:
# 3) Reconexión esta vez sí indicando la base de datos
conexion = pymysql.connect(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASSWORD,
    database='tfm_cambio_climatico',
    client_flag=CLIENT.MULTI_STATEMENTS
)
cursor = conexion.cursor()

# 1) Desactivar comprobación de FKs y eliminar si existían
cursor.execute("SET FOREIGN_KEY_CHECKS=0;")
cursor.execute("DROP TABLE IF EXISTS Paises;")
cursor.execute("DROP TABLE IF EXISTS Subcontinentes;")
cursor.execute("DROP TABLE IF EXISTS Continentes;")
cursor.execute("SET FOREIGN_KEY_CHECKS=1;")
conexion.commit()

# 2) Crear Continentes
cursor.execute("""
CREATE TABLE Continentes (
    id     INT             PRIMARY KEY,
    nombre VARCHAR(100)    NOT NULL
) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;
""")

# 3) Crear Subcontinentes (padre: Continentes)
cursor.execute("""
CREATE TABLE Subcontinentes (
    id             INT          PRIMARY KEY,
    nombre         VARCHAR(100) NOT NULL,
    continente_id  INT          NOT NULL,
    INDEX  idx_continente (continente_id),
    CONSTRAINT fk_subcontinentes_continentes
      FOREIGN KEY (continente_id) REFERENCES Continentes(id)
      ON UPDATE CASCADE ON DELETE RESTRICT
) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;
""")

# 4) Crear Paises (padre: Subcontinentes)
cursor.execute("""
CREATE TABLE Paises (
    codigo            VARCHAR(10)  PRIMARY KEY,
    nombre            VARCHAR(100) NOT NULL,
    nombre_en         VARCHAR(100) NOT NULL,
    subcontinente_id  INT          NOT NULL,
    INDEX  idx_subcontinente (subcontinente_id),
    CONSTRAINT fk_paises_subcontinentes
      FOREIGN KEY (subcontinente_id) REFERENCES Subcontinentes(id)
      ON UPDATE CASCADE ON DELETE RESTRICT
) ENGINE=InnoDB
  DEFAULT CHARSET=utf8mb4
  COLLATE=utf8mb4_unicode_ci;
""")

conexion.commit()
print("Tablas creadas correctamente con sus FKs.")

Tablas creadas correctamente con sus FKs.

### 5. Inserción de Continentes

Extraemos los continentes únicos, asignamos su `id` (tal como vienen en el CSV) y los insertamos.

In [5]:
# 1) Extraer y desduplicar
continentes = df_geo[['Continent Codi', 'continent_es']].drop_duplicates()

# 2) Filtrar filas con código o nombre nulo
continentes = continentes.dropna(subset=['Continent Codi', 'continent_es'])

# 3) Convertir el código a entero
continentes['Continent Codi'] = continentes['Continent Codi'].astype(int)

# 4) Ahora sí, preparar los datos y ejecutar el INSERT
sql_ins_cont = "INSERT INTO Continentes (id, nombre) VALUES (%s, %s)"
data = list(zip(
    continentes['Continent Codi'],
    continentes['continent_es']
))
cursor.executemany(sql_ins_cont, data)
conexion.commit()
print("Continentes insertados:", len(data))

Continentes insertados: 8

### 6. Inserción de Subcontinentes

Extraemos subcontinentes únicos, referenciando al continente padre, y los insertamos.

In [6]:
subcontinentes = df_geo[['Subcontinent Codi','subcontinent_es','Continent Codi']].drop_duplicates()
sql_ins_sub = """
INSERT INTO Subcontinentes (id, nombre, continente_id)
VALUES (%s, %s, %s)
"""
cursor.executemany(sql_ins_sub,
    list(zip(subcontinentes['Subcontinent Codi'],
             subcontinentes['subcontinent_es'],
             subcontinentes['Continent Codi'])))
conexion.commit()
print("Subcontinentes insertados:", len(subcontinentes))

Subcontinentes insertados: 23

### 7. Inserción de Países

Por último, insertamos cada país con su código, nombre en castellano y la referencia al subcontinente.

In [7]:
paises = df_geo[['Codi','Nom en castellà', 'Nom en anglès','Subcontinent Codi']].drop_duplicates()

paises = paises.dropna(subset=['Codi','Nom en castellà','Nom en anglès','Subcontinent Codi'])

paises['Codi'] = paises['Codi'].astype(str)
paises['Subcontinent Codi'] = paises['Subcontinent Codi'].astype(int)
paises['Nom en anglès'] = paises['Nom en anglès'] \
    .str.replace(r'\s*\(the\)$', '', regex=True)

data = list(zip(
    paises['Codi'],
    paises['Nom en castellà'],
    paises['Nom en anglès'],
    paises['Subcontinent Codi']
))

sql_ins_pais = """
INSERT INTO Paises (codigo, nombre, nombre_en, subcontinente_id)
VALUES (%s, %s, %s, %s)
"""
cursor.executemany(sql_ins_pais, data)
conexion.commit()

print("Países insertados:", len(data))

Países insertados: 250

### 8. Cierre de la conexión

Cerramos el cursor y la conexión a la base de datos.

In [8]:
cursor.close()
conexion.close()
print("Conexión cerrada.")

Conexión cerrada.